@model IEnumerable<Models.FeeDetails>

@{
    ViewBag.Title = "GetFeeDetails";
}

<h2>GetFeeDetails</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StandardID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KanNoOfStudents)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EngNoOfStudents)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KanDueStudCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EngDueStudCount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StandardID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KanNoOfStudents)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EngNoOfStudents)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KanDueStudCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EngDueStudCount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
